
/project_submissions/airly_sensors/files/notebook/Untitled.ipynb
/project_submissions/airly_sensors/files/notebook/Untitled1.ipynb
/project_submissions/airly_sensors/files/notebook/Untitled2.ipynb
/project_submissions/airly_sensors/files/notebook/Untitled3.ipynb

.github

*.idea/

*__pycache__*

.ipynb_checkpoints/
